.top h5{
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.image{
    height: 90px;
    aspect-ratio: 1/1;
}
.left h6{
    font-size: 18px;
}
.left p {
    font-size: 15px;
}
.food{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 30px;
    margin: 10px 0px;
}

.addBtn{
    padding: 10px 30px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 5px;
}

.foodContainer{
    width: 60%;
    margin: auto;
}

.inputContainer{
    margin-top: 20px;
}
.container{
    position: relative;
    height: 85vh;

}

.otherRestaurantContainer{
    background-color: green;
    width: 40%;
    margin: auto;
    padding: 30px 30px;
    position: absolute;
    bottom: 0;
    left:400px;
}
.otherRestaurantContainer h6{
    color: wheat;
    font-size: 20px;
}
.otherRestaurantContainer p{
    font-size: 17px;
    color: white;
}
.otherBtnContainer{
    margin-top: 15px;
    display: flex;
    gap: 25px;
}
.yesBtn{
    padding: 10px 30px;
    letter-spacing: 2px;
    cursor: pointer;
}

.noBtn {
    padding: 10px 30px;
    cursor: pointer;
}