.image{
    height: 160px;
    width: 200px;
    border-radius: 10px;
}
.name{
    width: 200px;
    font-size: 18px;
    text-align: center;
}
.address{
    font-size: 15px;
    text-align: center;
}
.container{
    margin: 10px 0px;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: black;
    &:hover{
        transform: scale(0.98);
    }
}