.container{
    margin: 0px 100px;
}
.top{
    margin-top: 25px;
    margin-bottom: 20px;
}
.middle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div h3{
    font-size: 25px;
    margin-top: 10px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

